<% if @user.present? %>
  Thanks for saving trees by using TreeBox
  <img src='<%= path_to_tracking AnalyticsTracking::EventTypes::EMAIL_VERIFICATION, @user.uidh %>'>
<% else %>
  This link is invalid.
<% end %>

