<% if @user.nil? %>
  Sorry. This link is no longer valid.
<% elsif @error.present? %>
  Sorry. <%= @error %>
<% else %>
  <%= form_tag(reset_password_users_path(:token => @token)) do %>
    <div style='width: 500px; margin: auto; margin-top: 50'>
      <div class='row'>
        <h3 style='text-align: center'>TreeBox Password Reset</h3>
      </div>
      <div class='row'>
        <div class='columns large-3'>
          <%= label_tag :new_password %>
        </div>
        <div class='columns large-9'>
          <%= password_field_tag :new_password %>
        </div>
      </div>
      <div class='row'>
        <div class='columns large-3'>
          <%= label_tag 'Confirm new password' %>
        </div>
        <div class='columns large-9'>
          <%= password_field_tag :new_password_confirm %>
        </div>
      </div>
      <div class='row'>
        <div class='columns large-9'>
          <%= submit_tag 'Save', :class => 'button small' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<img src='<%= path_to_tracking AnalyticsTracking::EventTypes::RESET_PASSWORD, @user.try(:uidh) %>'>

