<% success = !@user.errors.present? %>

<% if success %>
  Success!
<% else %>
  Failed to change password: <%= @users.errors.inspect %>
<% end %>

<img src='<%= path_to_tracking AnalyticsTracking::EventTypes::RESET_PASSWORD, @user.uidh, :success => success %>'>

